@charset "UTF-8";
body{
    background-color: rgb(39, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: white;
    background-color: rgb(252, 123, 71);
    text-align: center;
}

h2{
    color: rgb(204, 198, 198);
    text-decoration: underline;
}

p{
    color: rgb(204, 198, 198);
    text-align: justify;

}
a{
    color: rgb(252, 123, 71);
    
}